.container {
    padding: 50px;
}

.item{
    flex: 1;
}
.table{
    width: 80%;
    border-spacing: 10px;
    text-align: left;
    outline: rgb(180, 180, 182) solid;
}

.image{
    width: 17%;
}
.prices{
   padding-left: 25%;
}
.action{
   float: right;
   padding-right: 25%;
}
.table2{
    width: 100%;
    border-spacing: 20px;
    text-align: left;
    max-height: 2rem;
    outline: rgb(180, 180, 182) solid;
    overflow: scroll;
}
.button{
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    background-color: rgb(4, 133, 19);
    border-radius: 7px;
}
.button1{
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    background-color: rgb(175, 0, 0);
    border-radius: 7px;
    margin-left: 10%;
}

.button1:hover{
    background-color: rgb(229, 0, 0);
}
.button:hover{
    background-color: rgb(2, 165, 32);
}

 
@media screen and (max-width:480px) {
    .table {
        width: 95%;
    }
    .item{
        width: 90%;
    }
    .table2{
        max-width: 100px;
        outline: red solid;
    }
  }