.container{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
}
.productimg{
    border-radius: 50%;
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.title:hover{
    font-size: 20px;
    font-weight: bold;
    color: rgb(13, 170, 144);
}
.prices{
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.desc{
    text-align: center;
    color: #777;
    line-height: 1.5;
}


@media screen and (max-width: 480px){

    .title{
        font-size: 30px;
    }
    .container{
        width: 100%;
    }
    .price, .desc{
        font-size: 24px;
    }
}