.container{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.wrapper {
    display: flex;
    flex-direction: column;
}
.input{
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid rgb(162, 162, 162);
}
.button{
    height: 40px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(247, 1, 1);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
}
.button:hover{
    background-color: rgb(21, 192, 161);
}
.error{
    font-size: 13px;
    color: red;
}